<html>
<head>
    <title>GeekMind</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

#navbar {
  background-color: #333;
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}

#cate {
  float: right
}
</style>
<body>
        <div class="header">
                <h2>GeekMind</h2>
        </div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <div class="navbar" id="navbar">
                <a href='{% url "post_list" %}' class="active"><i class="fa fa-fw fa-home"></i> Home</a> 
                <a href="media/blog/templates/blog/perfil"><i class="fa fa-fw fa-user"></i> Perfil</a> 
                <a href="media/blog/templates/blog/sobre"><i class="fa fa-fw fa-info"></i> Sobre nós</a>
                <a href="{% url 'tdu-detail' 1 %}"><i class="fa fa-fw fa-shield"></i> Termos de uso</a>
                <a href="media/blog/templates/blog/Posts"><i class="fa fa-fw fa-send"></i> Postar</a>
                <form action="{% url 'search' %}" method="get">
                  <i class="fa fa-fw fa-search"></i><input type="text" placeholder="Pesquisar.." name='Pes'>
                <input type="submit" value="Pesquisar">
                </form>
              </div>

              <div class="row"></div>
              <div class="rightcolumn" id = 'cate'>
                <div class="card">
                  <h2>Categorias</h2>
                  <div class="fakeimg" style="height:100px;">Image</div>
                  <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="/categoria/1/">FANART</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/categoria/2/">status</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/categoria/3/">curiosidades</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/categoria/4/">ajuda</a>
                  </li>
                </ul>
                </div>
                <div class="card">
                  <h3>Popular Post</h3>
                  <div class="fakeimg">Image</div><br>
                  <div class="fakeimg">Image</div><br>
                  <div class="fakeimg">Image</div><br>
                </div>
                <div class="card">
                  <h3>Follow Me</h3>
                  <p>Some text..</p>
                </div>
              </div>
            </div>

    {% for category in categories %}
        <a href="{% url 'category-detail' category.pk %}">{{ category.name }}</a>
    {% endfor %}


            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        
<script>
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("navbar").style.top = "0";
          } else {
            document.getElementById("navbar").style.top = "-50px";
          }
        }
</script>

{% block content %}
{% endblock %}

</html>