{% extends "blog/base.html" %}

{% block content %}
	<h2 class="my-4">{{ object.name }}</h2>

	{% for post in object.posts.all %}
		{% include "blog/post_card.html" %}
    {% endfor %}
    <div class="pagination">
      <span class="step-links">
          {% if posts.has_previous %}
              <a href="?page={{ posts.previous_page_number }}">Anterior</a>
          {% endif %}
      
          <span class="current">
              {{ posts.number }} de {{ posts.paginator.num_pages }}
          </span>
      
          {% if posts.has_next %}
              <a href="?page={{ posts.next_page_number }}">Próxima</a>
          {% endif %}
      </span>
    </div>

{% endblock %}