{% extends "blog/base.html" %}

{% block content %}
<center>
	<h4 class="my-4">{{ object.title }}</h4>
	Autor: {{ object.author }} |
	{{ object.created_at }} |
	Categoria: {{ object.category }}
	<img src="{{ object.banner.url }}" class="img-fluid">
    <p>{{ object.text|safe }}</p>
</center>
	Comente: 
	<hr>
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>Não há comentários ainda :(</p>
{% endfor %}
{% endblock %}