    {% load static %}

    <div class="leftcolumn">
      <div class="card">
        <h2>{{post.title}}</h2>
        <h5>{{post.description}} {{post.created_at}}, de {{post.author}}</h5>
        <img src = '{{post.banner.url}}'>
        <p>{{post.text|safe}}</p>
        <a type='button' href="{% url 'post-detail' post.pk %}" class="btn-btn primary">Ler mais</a>
        <button><img src='{% static "like.png" %}' height="30px" width="30"></img></button>
        <button><img src='{% static "dislike.png" %}' height="30px" width="20"></img></button>
      </div>
    </div>
</div>