{% extends "blog/base.html" %}

              <div class="row">
                <div class="leftcolumn">
                  <div class="card">
                    <h2>O que fazemos</h2>
                    <h5>Aqui mostramos algumas novidades no mundo dos games, noticias e curiosidades geek num geral</h5>
                    </div>
                  <div class="card">
                    <h2>Por que fazemos</h2>
                    <h5>porque não?</h5>
                    </div>
                </div>